{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1>Genre</h1>

    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.nom }}</td>
                <td>
                    <a class="uk-button uk-button-default" href="{{ path('genre_show', {'id': genre.id}) }}">show</a>
                {% if app.user %}    
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}    
                    <a class="uk-button uk-button-primary" href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
    <center><a class="uk-button uk-button-secondary" href="{{ path('genre_new') }}">Create new</a></center>
    {% endif %}
{% endblock %}
