{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Nombre_pages</th>
                <th>Date_de_parution</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
                <td>{{ livre.note }}</td>
                <td>
                    <a class="uk-button uk-button-default" href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    {% if app.user and app.user.roles[0] == 'ROLE_USER' %}
                        <a class="uk-button uk-button-primary" href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
        <center><a class="uk-button uk-button-secondary" href="{{ path('livre_new') }}">Create new</a></center>
    {% endif %}
{% endblock %}
