{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="uk-table uk-table-divider">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Nombre_pages</th>
                <td>{{ livre.nombrePages }}</td>
            </tr>
            <tr>
                <th>Date_de_parution</th>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ livre.note }}</td>
            </tr>
        </tbody>
    </table>

   <center> <a class="uk-button uk-button-secondary" href="{{ path('livre_index') }}">back to list</a>
    {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
        <a class="uk-button uk-button-primary" href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a> </center>
    {% endif %}
    {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
