{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom et prenom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Nationalite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.nomPrenom }}</td>
                <td>{{ auteur.sexe }}</td>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ auteur.nationalite }}</td>
                <td>
                    <a class="uk-button uk-button-default" href="{{ path('auteur_show', {'id': auteur.id}) }}">show</a>
                    <a class="uk-button uk-button-primary" href="{{ path('auteur_edit', {'id': auteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <center> <a class="uk-button uk-button-secondary" href="{{ path('auteur_new') }}">Create new</a> </center>
{% endblock %}
